extends ./layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/token",  method="POST")
            .form-control
                label(for="token") Токен
                input(type="token", name="token", value=`${token.token}`)#token
            .form-control
                a(href="https://oauth.vk.com/authorize?client_id=6780264&display=page&redirect_uri=https://oauth.vk.com/blank.html&scope=friends&response_type=token&v=5.52", target="_blank", rel="noopener noreferrer") Получить новый токен
            button.btn(type="submit") Сохранить
